* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}



.green-text{
  color: #ADC178;
}

.main-text {
  font-size: 120px;
}

.sub-text{
  font-size: 24px;
} 


/* 
NAVBAR CSS HERE
 */

.nav-name{
 color: #fff;
}

.navbar {
  background-color: #6C584C; 
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
}

.nav-links li{
  list-style: none;
  display: inline-block;
  padding: 0 24px;
}

.nav-links a {
  color: #fff;
  transition: 0.3ms all ease;
}

.nav-links a:hover{
color:#ADC178;

}




.bg-image {
  background-image: url(/images/football.jpg);
  width: 100vw;
  height: 93vh;
}

.bg-opacity{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
MAIN BLOG CSS HERE 
*/

.blog-title{
  
  max-width: 75vw;
  padding: 30px 12px;
}

.main-blog {
  background-color: #F0EAD2;
  height: 93vh;
  width: 100vw;
  display: flex;
 align-items: center;
  flex-direction: column;
}

.blog-title{
  font-size: 72px;
}

.blog-links {
  color: #000;
  font-size: 24px;
  transition: all 0.3ms ease;
}

.blog-links:hover {
  color:#ADC178
}

.core{
  float: right;
  height: 70vh;
  width: 45%;
  border: #ADC178 solid 8px;
 border-radius: 16px;
 padding: 24px;
 line-height: 56px;
 display: flex;
 flex-direction: column;
 align-items: center;
}


.tech {
  float: left;
  height: 70vh;
  width: 45%;
  border: #ADC178 solid 8px;
  border-radius: 16px;
  padding: 24px;
  line-height: 56px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.wrapper {
 width: 100%;
 max-width: 1200px;
}

/* 
INDIVIDUAL BLOG POST CSS  
*/

.blog-paragraph{
  padding: 24px 0px;
  max-width: 1200px;
  width: 100%;
}


.container{
  background-color: #F0EAD2;
  max-width: 1200px;
  width:100%
}

.blog-posts {
  background-color: #F0EAD2;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}

.blog-post-title {
  font-size: 8;
  max-width: 1200px;
  width: 100%;
  padding: 24px 12px
}

.core-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.tech-text {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.blog-image {
  width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;

}

.blog-link {
  color: #000;
  transition: all 0.3ms ease;
}

.blog-link:hover {
  color:#ADC178
}



@media (max-width: 768px) {
  .main-text{
    font-size: 48px;
    padding: 20px;
  }

    .sub-text {
      font-size: 24px;
      padding: 20px;
    }

  .nav-name{
    font-size: 24px;
  }

  .blog-title{
    font-size: 48px; 
}

.blog-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 100%
}


.blog-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}



}
